**/node_modules/
**/dist/

.env
client/.env.local
client/.env.development
client/.env.production
server/.env

client/.next/

.DS_Store
Thumbs.db

.vscode/
.aws-sam
samconfig.toml
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*

server/shared-local-instance.db
server/dynamodb-local-metadata.json
shared-local-instance.db